.selectors {

}

.selectors h2 {
    color: #1d2d44;
    font-size: 36px;
    font-weight: 700;
}

.selectors h3 {
    color: #748cab;
    font-size: 24px;
    font-weight: 700;
}

.article .highlight {
    color: #f44336;
    font-weight: 700;
}

.highlight {
    font-weight: 700;
}