@import "base";
@import "layout";
@import "bootstrap/scss/bootstrap-grid";
@import "modules/horizontal-boxes";
@import "modules/vertical-boxes";
@import "modules/stretch-boxes";
@import "modules/selectors-text";
@import "modules/card";
@import "modules/social";
@import "modules/navigation";

.row + .row {
    margin-top: 16px;
  }
  
  .row > .col,
  .row > [class^=col-] {
    padding-top: 12px;
    padding-bottom: 12px;
    background-color: rgba(86, 61, 124, .15);
    border: 1px solid rgba(86, 61, 124, .2);
  }